#main-container {
 position: absolute;
  width: 300px;
  top: 25%;
}

.actionButton {
    color: white;
    background-color: blue;
}

#action_buttons {
    margin-bottom: 20px;
    text-align: center;
}

#names {
    height: 50px;
}

.nameLabel {
    float: left;
    width: 150px;
    text-align: center;
}

#symbols {
    width: 300px;
}   

.symbol {
    float: left;
    text-align: center;
    width: 130px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#result {
    text-align: center;
    font-weight: bold;
}