<body>

<div id="main-container">

  <div id = "action_buttons">
    <button class="actionButton" (click)="rockAction()">Rock</button>
    <button class="actionButton" (click)="paperAction()">Paper</button>
    <button class="actionButton" (click)="scissorsAction()">Scissors</button>  
  </div>

  <div id="names">
    <label class="nameLabel">You</label>
    <label class="nameLabel">Computer</label>
  </div>

  <div id="symbols">
    <img class="symbol" src="{{imagePath}}"/>
    <img class="symbol" src="{{computerImagePath}}"/>
  </div>

  <div id="result">
    {{endOfGame}}
  </div>

</div>

</body>